* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body[data="prod"] {
  background: rgb(47, 46, 65);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1500px;
  margin: auto;
}

a {
  color: rgb(172, 168, 255);
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 50px;
  color: #f2f6f5;
  font-size: 1.2rem;
}

nav a:hover, nav a:active {
  color: #c8dad3;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: center;
}

.alphabetM {
  position: relative;
  left: 100px;
  top: 1px;
}

.alphabetM:hover .m1 {
  transform: rotate(190deg);
}

.alphabetM:hover .m4 {
  transform: rotate(170deg);
}

.m1, .m2, .m3, .m4 {
  position: absolute;
  background: linear-gradient(to bottom, pink, transparent 90%);
  border-radius: 100%;
  transition: transform 300ms ease-in-out;
}

.m1, .m4 {
  height: 100px;
  width: 30px;
}

.m2, .m3 {
  height: 80px;
  width: 30px;
}

.m1 {
  transform: rotate(200deg);
}

.m2 {
  transform: rotate(160deg);
}

.m3 {
  left: 25px;
  transform: rotate(200deg);
}

.m4 {
  left: 25px;
  transform: rotate(160deg);
}

.main-content {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 2.2rem;
}

.main-content .blm {
  max-height: 50vh;
  width: 90%;
  padding-bottom: 50px;
}

.welcome {
  width: 10px;
  overflow: hidden;
  display: block;
  max-width: max-content;
  white-space: nowrap;
  animation: typewriting 4s steps(100, end) forwards;
  animation-delay: 1s;
  position: relative;
  font-size: 3.5rem;
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 20px;
}

.welcome::after {
  content: '';
  width: 20px;
  height: 100%;
  background-color: #c8dad3;
  right: 0px;
  position: absolute;
  animation: blink-animation 1s steps(5, start) infinite;
}

.welcome-sub {
  font-size: large;
}

.main-sections {
  text-align: center;
  padding: 0 50px 0;
}

.main-sections>* {
  padding-top: 20px;
  padding-bottom: 20px;
}

.project, .project img {
  width: 100%;
}

.project article {
  display: flex;
}

.project article>* {
  width: 50%;
}

.project figure {
  border: 30px solid #000;
  border-radius: 50px;
  margin-bottom: 100px;
  position: relative;
}

.project figure::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  bottom: -80px;
  left: 40%;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 70px solid black;
  border-radius: 50px;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 10% 0;
  line-height: 1.7rem;
  word-spacing: 0.2rem;
}

.project-title {
  font-size: 1.6rem;
  color: rgb(172, 168, 255)
}

.project-links a {
  padding: 15px;
  border-radius: 10px;
  margin: 0 10px 0;
  background-color: rgb(121,113,254);
  color: whitesmoke;
  text-decoration: none;
}

.contact-card ul {
  display: flex;
  justify-content: center;
}

.contact-card li {
  margin: 20px;
}

@keyframes typewriting {
  100% {
    width: 100%;
    padding-right: 20px;
  }
}

@-webkit-keyframes typewriting {
  100% {
    width: 100%;
    padding-right: 20px;
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}