.st0{fill:#B3A6AD;}
	.st1{fill:#B6B155;}
	.st2{fill:#990033;}
	.st3{fill:#660A1E;}
	.st4{fill:#A7A6AA;}
	.st5{fill:#EF798A;}
	.st6{fill:#FFB2B2;}
	.st7{fill:#A70808;}
	.st8{fill:#DF4646;}
	.st9{fill:#FF7878;}
	.st10{fill:#F2A297;}
	.st11{fill:#BA1717;}
	.st12{fill:#543A3C;}
	.st13{fill:#CA1542;}
	.st14{fill:#E74C6E;}
	.st15{fill:#006837;}
	.st16{fill:#004924;}
	.st17{fill:#D33757;}
	.st18{fill:#E06581;}
	.st19{fill:#014724;}
	.st20{fill:#E14666;}
	.st21{fill:#ABDFD3;}
	.st22{fill:#C5EFE4;}
	.st23{fill:#DC4160;}
	.st24{fill:#A888AD;}
	.st25{fill:#B99BBF;}
	.st26{fill:#F8A362;}
	.st27{fill:#F9B587;}
	.st28{fill:#F2F2F2;}
	.st29{fill:#FDFFFE;}
	.st30{fill:#F2D668;}
	.st31{fill:#F9E4A5;}
	.st32{fill:#F5A6DF;}
	.st33{fill:#F4CEEB;}
	.st34{fill:#CCCCCC;}
	.st35{fill:#FBB03B;}
	.st36{fill:#FFFFFF;}
	.st37{fill:#ECCDD2;}
	.st38{fill:#8AD7AB;}
	.st39{fill:#8FC8E2;}
	.st40{fill:#D3CE94;}
	.st41{fill:#F9CFCF;}
	.st42{fill:#EDE9C3;}
	.st43{fill:#9BD6EA;}
	.st44{fill:#F8D9C4;}
	.st45{fill:#EB678B;}
	.st46{fill:#A5394C;}
	.st47{fill:#DD726C;}
	.st48{fill:#E5847A;}
	.st49{fill:#EF8A7F;}
	.st50{fill:#3CBC91;}
	.st51{fill:#8CC63F;}
	.st52{fill:#B78D5C;}
	.st53{fill:#2A2A2B;}
	.st54{fill:#EBCEC6;}
	.st55{fill:#F49090;}
	.st56{fill:#B3D8E8;}
	.st57{fill:#EFE6E4;}
	.st58{fill:#FBD8E3;}
	.st59{fill:#E48397;}
	.st60{fill:#B2E6F9;}
	.st61{fill:#42210B;}
	.st62{fill:#E0E0E0;}
	.st63{fill:#9D6D47;}
	.st64{fill:#EFD1B4;}
	.st65{fill:#0071BC;}
	.st66{fill:#679CBA;}
	.st67{fill:#DBDCDD;}
	.st68{fill:#DDB28E;}
	.st69{fill:#C69C6D;}
	.st70{fill:#603813;}
	.st71{fill:#8C6239;}
	.st72{fill:#E9EAE4;}
	.st73{fill:#F7931E;}
	.st74{fill:#754C24;}
	.st75{fill:#A67C52;}
	.st76{fill:#9E1E28;}
	.st77{fill:#F15A24;}
	.st78{fill:#E04819;}
	.st79{fill:#009245;}
	.st80{fill:#00552B;}
	.st81{fill:#84821B;}
	.st82{fill:#CD271F;}
	.st83{fill:#BB8130;}
	.st84{fill:#BBBABF;}
	.st85{fill:#E0E0E2;}
	.st86{fill:#C79359;}
	.st87{fill:#BA844F;}
	.st88{fill:#29ABE2;}
	.st89{fill:#EEB752;}
	.st90{fill:#A8B0B2;}
	.st91{fill:#035684;}
	.st92{fill:#EFBF73;}
	.st93{fill:#D3A272;}
	.st94{fill:#C3C8C9;}
	.st95{fill:#EBDCC9;}
	.st96{fill:#EAD696;}
	.st97{fill:#E57ACC;}
	.st98{fill:#8D5F96;}
	.st99{fill:#FFD9E4;}
	.st100{fill:#60BA84;}
	.st101{fill:#CCEDE5;}
	.st102{fill:#E8E8E8;}
	.st103{fill:#F9D2D2;}
	.st104{fill:#B9B9BA;}
	.st105{fill:#939393;}
	.st106{fill:#62612A;}
	.st107{fill:#79484E;}
	.st108{fill:#C2BE5C;}
	.st109{fill:#F1C3A2;}
	.st110{fill:#B2625C;}
	.st111{fill:#E1AE9D;}
	.st112{fill:#7597A0;}
	.st113{fill:#F2DBD5;}
	.st114{fill:#B27C62;}
	.st115{fill:#E6E6E6;}
	.st116{fill:#AF8864;}
	.st117{fill:#F1E9DF;}
	.st118{fill:#9E6A56;}
	.st119{fill:#2E3192;}
	.st120{fill:#EAEAEA;}
	.st121{fill:#1B1464;}
	.st122{fill:#EAE5E6;}
	.st123{fill:#7F9BEA;}
	.st124{fill:#EEBCC5;}
	.st125{fill:#DB8E98;}
	.st126{fill:#B58187;}
	.st127{fill:#80424C;}
	.st128{fill:#F3EED0;}
	.st129{fill:#CCD8B0;}
	.st130{fill:#46653B;}
	.st131{fill:#345129;}
	.st132{fill:#C9A6AC;}
	.st133{fill:#D6B6BA;}
	.st134{fill:#DE7139;}
	.st135{fill:#F2CB56;}
	.st136{fill:#DE3A55;}
	.st137{fill:#CD9586;}
	.st138{fill:#B47468;}
	.st139{fill:#F5DCD8;}
	.st140{fill:#C4BCBF;}
	.st141{fill:#E0B182;}
	.st142{fill:#9B6B61;}
	.st143{fill:#DBB89B;}
	.st144{fill:#DED2D3;}
	.st145{fill:#7D6364;}
	.st146{fill:#F1A3A1;}
	.st147{fill:#B3B3B3;}
	.st148{fill:#F9CEBE;}
	.st149{fill:#142738;}
	.st150{fill:#911928;}
	.st151{fill:#A32F4E;}
	.st152{fill:#7A0118;}
	.st153{fill:#DAE576;}
	.st154{fill:#E87F38;}
	.st155{fill:#F47621;}
	.st156{fill:#BC5B1B;}
	.st157{fill:#E6EF6A;}
	.st158{fill:#7C0101;}
	.st159{fill:#6DA84A;}
	.st160{fill:#83AF6E;}
	.st161{fill:#39B54A;}
	.st162{fill:#812791;}
	.st163{fill:#FC540D;}
	.st164{fill:#DD4410;}
	.st165{fill:#D3CE6A;}
	.st166{fill:#F2C8AD;}
	.st167{fill:#EFB58E;}
	.st168{fill:#F27622;}
	.st169{fill:#8DA34F;}
	.st170{fill:#ACBF77;}
	.st171{fill:#D6C188;}
	.st172{fill:#E5CED4;}
	.st173{fill:#15104F;}
	.st174{fill:#E5E3E3;}